<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759636103560-6hpmg41k92k8hjaess9m5fvdp6hi9a00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759636103560-6hpmg41k92k8hjaess9m5fvdp6hi9a00</string>
	<key>API_KEY</key>
	<string>AIzaSyD9MnbIKhjA1AKJMup8mJUeQwGkomE1NgY</string>
	<key>GCM_SENDER_ID</key>
	<string>759636103560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.musicapp</string>
	<key>PROJECT_ID</key>
	<string>circleofmusic</string>
	<key>STORAGE_BUCKET</key>
	<string>circleofmusic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759636103560:ios:9d7b99bb52b8774821ea3d</string>
</dict>
</plist>